%p#notice= notice

%p
  %b Title:
  = @news.title
%p
  %b Description:
  = @news.description
%p
  %b Content:
  = @news.content
%p
  %b Link:
  = @news.link
%p
  %b Userid:
  = @news.userId
%p
  %b Date:
  = @news.date
%p
  %b Catid:
  = @news.catId
%p
  %b Likes:
  = @news.likes

= link_to 'Edit', edit_news_path(@news)
\|
= link_to 'Back', news_path
