- @posts.each do |post|
  %li
    %div.row
      %div.col-md-4
        %img.pull-left{:src => asset_path("image.png"), :alt=> 'Imagen de la noticia'}

      %div.col-md-8
        %h3= post.title


        %ul.footer-info
          %li 
            Fecha
            = post.date
          %li
            Usuario 
            = post.userId
          %li
            Categoria
            = post.category

        %p= post.description

        %a{:href=>post.link} Seguir Link

      %ul.social-info
        %li
          =post.votes
          %i.fa.fa-thumbs-o-up.fa-lg Me gusta
        %li
          =post.numComments
          %i.fa.fa-comments-o.fa-lg Comentarios