%li#sign-in-option
  %a
    %i.fa.fa-sign-in.fa-lg
  %div.sign-in
    %h4 Iniciar sesion
    = form_tag session_path(:user) do

      = label_tag 'user[email]', 'Correo'
      = text_field_tag 'user[email]'

      = label_tag 'user[password]', 'Contrasena '
      = password_field_tag 'user[password]' 

      = check_box_tag 'user[remember_me]'
      = label_tag 'user[remember_me]', 'Recordarme'

      %button.btn.btn-default#signinbtn Iniciar
      /= link_to "Forgot your password?", new_password_path(:user)
      /=render "devise/shared/links", resource_name: resource_name
      - if devise_mapping.registerable? && controller_name != 'registrations'
        = link_to "Registrarte", new_registration_path(resource_name)
        %br/

      - if devise_mapping.omniauthable?
        - resource_class.omniauth_providers.each do |provider|
          = link_to "Entrar con #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider)
          %br/      